@model CarManagement.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle : @Html.DisplayFor(model => model.PlateNumber)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            PlateNumber
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt class="col-sm-2">
            NumberOfSeats
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class="col-sm-2">
            Color
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Current Driver License Number
        </dt>
        <dd class="col-sm-10">
            @if (Model.CurrentDriverId != null)
            {
                @Html.DisplayFor(model => model.CurrentDriver.LicenseNumber)
            }
            else
            {
                <span>No current</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a> |
    <a asp-controller="VehicleDriverHistories" asp-action="HistorybyvehicleId" class="btn btn-success" asp-route-id="@Model?.VehicleId">Drivers History</a>
</div>
