@model IEnumerable<CarManagement.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table id="vehiclesTable" class="table">
    <thead>
        <tr>
            <th>Plate Number</th>
            <th>Number Of Seats</th>
            <th>Current Driver Licence NB</th>
            <th>Color</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PlateNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.NumberOfSeats)</td>
                <td>
                    @if (item.CurrentDriverId == null)
                    {
                        <span>No current</span>
                    }
                    else
                    {
                        <a asp-action="Details" asp-controller="Drivers" class="btn btn-link" asp-route-id="@item.CurrentDriverId">@Html.DisplayFor(modelItem => item.CurrentDriver.LicenseNumber)</a>

                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.VehicleId">Edit</a> |
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.VehicleId">Details</a> |
                    <a asp-controller="Maintenances" asp-action="MaintenancebyVehicle" class="btn btn-success" asp-route-id="@item.VehicleId">Maintenance</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.VehicleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#vehiclesTable').DataTable();
        });
    </script>
}
