@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <a href="@Url.Action("Details", new { id = user.Id })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
